.footer {
 box-sizing: border-box;
 padding: 60px 80px 60px;
 background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
 color: #f2f2f2;
}

.footer__contents{
 display: flex;
}
 
.footer__social-content{
 margin-left: auto;
}

.footer__social-heading{
font-weight: bold;
font-size: 16px;
line-height: 20px;
margin: 0 0 20px;
}
.footer__logo{
 width: 105px;
 height: 39px;
}

.footer__list{
 list-style-type: none;
 padding: 0;
 margin: 0;
 
}

.footer__list-item{
 margin: 0 0 16px;
}

.footer__social-link{
 color:#ffffff ;
 width: 16px;
 height: 16px;
 text-decoration: none;
 transition: 0.5s linear ease-in-out ;
}

.footer__social-link:hover{
color:#C1C1C1; 
}

.footer__social-icon{
 font-size: 16px;
 line-height: 20px;
 margin-right: 10px;

 
}