.form{
 max-width:385px;
 border-radius: 4px;
 
 
}

.form__fieldset{
 border: 0px;
 padding: 0;
 margin: 0;
 
}


.form__label{
display: block;
margin-top: 0;
font-weight: 500;
font-size: 16px;
line-height: 20px;


}

.form__label_type_checkbox{
 display: flex;
 justify-content: center;
 gap: 12px;
 font-size: 16px;
 line-height: 20px;
 
}

.form__input{
 color: #838383;
 font-size: 20px;
 box-sizing: border-box;
 display: block;
 width: 100%;
 margin-top: 8px;
 margin-bottom: 32px;
 height: 60px;
}

.form__button{
 box-sizing: border-box;
 background-color: #2f80ed;
 display: block;
 width: 100%;
 margin-top: 8px;
 margin-bottom: 32px;
 height: 60px;
 border-radius:4px;
 border:none;
 color: #FFFFFF;
 opacity:100%;
 transition: 0.5s;
}

.form__button:hover{
 opacity:70%;
}
