@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/nav.css);
@import url(../blocks/card.css);
@import url(../blocks/form.css);
@import url(../blocks/recipes.css);
@import url(../blocks/menu.css);
@import url(../blocks/reservation.css);
@import url(../blocks/about.css);
@import url(../blocks/footer.css);



.about__circle_animation_blurred{
 border-radius: 50%;
 background-color:#2f80ed;
 position: absolute;
 top: -152px;
 left: -129px;
 width:426px ;
height:426px;
animation-name:heartbeat;
animation-duration:1.3s;
animation-timing-function:ease-in-out;
animation-iteration-count:infinite ;

}

@keyframes heartbeat{
0%{
 opacity: 0;
}

50%{
 opacity:0.6;
}

100%{
 transform: scale(1.1);
}
}
